<h1>SG Comprehensive Catalog Data</h1>
<h3>What are you searching for?</h3>

<%= form_for search_path, method: :get do |f| %>
    <p>
      <%= f.label "Search for" %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag "Go", name: nil %>
    </p>
<% end %>


<% if @stamps.empty? %>
    No matches found
<% else %>
    <ul>
      <% @stamps.each do |stamp| %>
          <li>
            <h3>
              <%= link_to stamp.country_name + ' ' + stamp.sg_number, controller: "stamps", action: "set", id: stamp._id%>
            </h3>
          </li>
      <% end %>
    </ul>
<% end %>
