<div class="container">
  <h3 class="title">Stamps</h3>

  <%= will_paginate %>
  <%= link_to "Add a new stamp to the catalog", new_stamp_path, class: "btn btn-default pull-right" %>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Country</th>
        <th>SubCountry</th>
        <th>SG Number</th>
        <th class="text-right">Navigate</th>
      </tr>
      </thead>

      <tbody>

      <% @stamps.each do |stamp| %>
          <tr>
            <td><%= stamp.country_name %></td>
            <td><%= stamp.sub_country_name %></td>
            <td><%= stamp.sg_number %></td>
            <td>
              <%= link_to 'View', set_path(stamp) %> |
              <%= link_to 'Edit', edit_stamp_path(stamp) %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>

  <%= will_paginate %>

</div>